
@{
    ViewBag.Title = "Завершение регистрации";
}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="confirm text-center">На указанный адрес электронной почты отправлены дальнейшие инструкции по завершению регистрации</p>
                <img src="~/Content/Images/SectionPageTatleImg.png" />
            </div>
        </div>
    </div>
</section>

